In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
# import os

# Restaurants Extract and Transform
* https://www.kaggle.com/datafiniti/fast-food-restaurants

In [2]:
df = pd.read_csv('Data/Datafiniti_Fast_Food_Restaurants.csv')
df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories', 'city',
       'country', 'keys', 'latitude', 'longitude', 'name', 'postalCode',
       'province', 'sourceURLs', 'websites'],
      dtype='object')

In [3]:
df.dtypes

id              object
dateAdded       object
dateUpdated     object
address         object
categories      object
city            object
country         object
keys            object
latitude       float64
longitude      float64
name            object
postalCode      object
province        object
sourceURLs      object
websites        object
dtype: object

In [4]:
df.head()

,id,dateAdded,dateUpdated,address,categories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
1,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
2,AVwcopQoByjofQCxgfVa,2016-03-29T05:06:36Z,2018-06-26T02:59:52Z,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,US,us/tn/pigeonforge/206wearsvalleyrd/-864103396,35.803788,-83.580553,Taco Bell,37863,TN,https://www.yellowpages.com/pigeon-forge-tn/mi...,"http://www.tacobell.com,https://locations.taco..."
3,AVweXN5RByjofQCxxilK,2017-01-03T07:46:11Z,2018-06-26T02:59:51Z,3652 Parkway,Fast Food,Pigeon Forge,US,us/tn/pigeonforge/3652parkway/93075755,35.782339,-83.551408,Arby's,37863,TN,http://www.yellowbook.com/profile/arbys_163389...,"http://www.arbys.com,https://locations.arbys.c..."
4,AWQ6MUvo3-Khe5l_j3SG,2018-06-26T02:59:43Z,2018-06-26T02:59:43Z,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,US,us/ga/morrow/2118mtzionparkway/1305117222,33.562738,-84.321143,Steak 'n Shake,30260,GA,https://foursquare.com/v/steak-n-shake/4bcf77a...,http://www.steaknshake.com/locations/23851-ste...

In [5]:
df = df.drop(['id', 'dateAdded', 'dateUpdated', 'address', 'categories', 'keys', 'latitude', 'longitude', 'postalCode', 'sourceURLs'], axis=1)

In [6]:
df.head()

,city,country,name,province,websites
0,Thibodaux,US,SONIC Drive In,LA,https://locations.sonicdrivein.com/la/thibodau...
1,Thibodaux,US,SONIC Drive In,LA,https://locations.sonicdrivein.com/la/thibodau...
2,Pigeon Forge,US,Taco Bell,TN,"http://www.tacobell.com,https://locations.taco..."
3,Pigeon Forge,US,Arby's,TN,"http://www.arbys.com,https://locations.arbys.c..."
4,Morrow,US,Steak 'n Shake,GA,http://www.steaknshake.com/locations/23851-ste...

In [7]:
df.count()

city        10000
country     10000
name        10000
province    10000
websites    10000
dtype: int64

In [8]:
df["name"].value_counts().head(15)

McDonald's         1898
Taco Bell          1032
Burger King         833
Subway              776
Arby's              663
Wendy's             628
Jack in the Box     330
Pizza Hut           230
Dairy Queen         218
Domino's Pizza      215
Chick-fil-A         206
KFC                 162
SONIC Drive In      125
Jimmy John's        119
Carl's Jr.          112
Name: name, dtype: int64

In [9]:
print(sorted(df['name'].str.lower().unique()))

['7-eleven', '90 miles cuban cafe', 'a&w/long john silvers', "a's ace burgers", 'abruzzi pizza', 'acropolis gyro palace', 'adobe cantina salsa', 'ak buffet', 'all about burger', 'ameci pizza & pasta', "andy's frozen custard", "angelina's pizza", "ani's chicken", "arby's", "arby's - closed", 'arbys', 'arctic circle', "arni's crawfordsville", "arthur treacher's fish & chips", 'au bon pain', "auntie anne's", "auntie anne's pretzels", 'ay jalisco', 'b good', 'b&d burgers', "b's pizza", 'b.good', 'back yard burgers', 'backyard grill', "bad daddy's burger bar", 'baja fresh mexican grill', "baker's drive thru", "baker's drive-thru", 'band box diner', 'barberitos', "barro's pizza", 'baskin-robbins', 'batter up', 'beanthru', 'beef villa', "bell's pizza", 'belleria pizzeria', "ben & jerry's", "ben and jerry's", "bennidito's pizza", 'best gyros', 'big house burgers', 'big island pizza', 'bistro to go', 'blackies hotdog stand', 'blackjack pizza', "blake's lotaburger", 'blimpie', 'blue coast burrito', 'boardwalk grill', 'bob evans', 'bob evans restaurant', "bobby's burger palace", 'boddie noell enterprises inc', 'bojangles', "bojangles' famous chicken 'n biscuits", 'boloco', "boomer's drive-in", 'boston burger company', 'boston market', 'boston road pizza', 'boys burgers', "braum's", 'bristol 45 diner', "bubba's texas burger shack", "bucky's family restaurant", 'buona vita', 'burger basket', 'burger house', 'burger king', 'burger king/popeyes', 'burger king¬æ', 'burgerfi', 'burrito bros.', "bush's chicken", 'cafe paris', 'cafe zona rosa', 'california chicken cafe', 'california tortilla', 'capri italian restaurant', 'capri restaurant', "capriotti's sandwich shop", "captain d's", "captain d's seafood", "carl's jr", "carl's jr / green burrito", "carl's jr.", "carl's jr. / green burrito", "carl's jr. / the green burrito", 'carvel', 'casa mexicana', "casey's general store", 'caseys carry out pizza', "cd's wings", "chanello's pizza", "charley's grilled subs", 'charleys philly steaks', "charlie's pizzeria", "charlie's restaurant", 'charo chicken', "checker's pizza", 'checkers', 'chicago pizza with a twist', 'chick-fil-a', 'chicken express', 'chicken inn', 'chicken kitchen', "chicken mary's", 'china bowl take out restaurant', 'china buffet', 'china city', 'china garden', 'china restaurant', 'chinatown express', 'chinatown inn', 'chipotle', 'chipotle mexican grill', "christo's original", 'chronic tacos', 'chun wah kam noodle factory', "church's chicken", 'citizen burger bar', 'clambake seafood restaurant', 'cluck-u chicken', 'cobani gyro kebab', 'comet burgers', 'cook out', 'cook st. helena', 'copper oven artisan pizza', 'cottage inn pizza', 'country buffet', "cousin's subs", 'cozumel', 'cremo drive-in', 'creperie', 'crown fried chicken', "culver's", "cupie's drive-in", 'd & m subs', "d'angelo grilled sandwiches", 'dairy heaven', 'dairy queen', 'dairy queen (treat only)', 'danielle inc', 'de afghanan kabob house', 'del taco', "dick's hamburgers", "dominick's italian restaurant", 'dominion pizza', "domino's pizza", "don & millie's", 'dragon dragon', 'dunkin donuts', "dunkin' donuts", 'earth fare', 'east of edens', "eegee's", 'einstein bros bagels', 'el burrito loco', 'el original', 'el pollo loco', 'el pollo regio', 'el ranchito taco shop', 'el sombrero', 'el taquito', 'errandbug fast restaurant delivery', "eudici's pizza", 'extreme pita', 'fajita grill', "famous dave's", 'farmer boys', 'fashion cafe', "fast eddie's moab", 'fat boy burgers', "fat mo's burgers", "fat patty's", 'fatburger', "fazoli's", "fazzari's", 'festival eatery', "filippi's pizza grotto", 'firehouse subs', 'five guys', 'five guys burgers and fries', 'five guys burgers fries', 'flame broiler', 'flaming grill and buffet', 'flushing a', 'flying j', "foster's freeze", 'fosters freeze', 'four burgers', "fox's gourmet delicatessen", "fox's pizza den", 'frankies', 'fratellos hot dogs', 'frates drive-in', 'fuddruckers', 'fuku', "gambino's pizza", 'gangnam style korean kitchen', 'garden catering', 'gd bro burger', 'genghis grill', "george's gyros spot 2", 'git-it-n-git', 'glorious foods gourmet to go & catering', 'gold star chili', 'golden chick', 'golden dragon', 'golden harvest chinese restaurant', 'good guys pizza', 'gourmet grill', 'grand china chinese restaurant', 'grande italian restaurant', "grandy's", 'great american hamburger pie co', 'great bend taco', 'great wall restaurant', 'great wraps', "guerrazzi's", "gus's carryout", 'gyromania grill', 'gyros express', 'halo burger', 'happy dragon', "hardee's", "hardee's / red burrito", "hardee's/red burrito", 'hardees', "heff's burgers", 'henny penny family restaurant', 'hernandez mexican restaurant', 'hiboy drive-in', 'high tech burrito', 'hilton boston logan airport', "hobo's korner kitchen", 'hometown buffet', 'hon lin restaurant', 'hot dog on a stick', 'hot lips pizza', 'huddle house', 'hunan gardens', 'in-n-out burger', 'islands restaurant', 'isushi', 'italian pizzeria restaurant', 'italian village pizza', "italo's pizza", "ivan's restaurant", 'jack in the box', 'jack in the box -', "jack's goal line stand", 'jacks n joe', "jake's wayback burgers", 'jalsa indian fast food', 'jamba juice', "jason's deli", "jerry's subs & pizza", "jersey mike's subs", "jim bob's chicken fingers", "jim's steakout", "jim's steaks", "jimmy john's", 'jimmy johns', "jimmy's grotto", "joe's crab shack", 'johnny rockets', "johnny's wife's place", "johnson's popcorn", 'jollibee', 'jon smith subs', "kasa's pizza", 'kfc', 'kfc - kentucky fried chicken', 'kfc/aw', 'kfc/long john silvers', 'kfc/taco bell', "kim's oriental kitchen", 'king gyros', 'king of wings', 'king wah', 'kismet', "kosta's gyros", 'kow thai take out', 'krispy krunchy chicken', 'krystal', 'kum & go', 'kumagoro fine japanese restaurant and sushi bar', 'la hacienda mexican restaurant', "lacey's on the hill restaurant", 'lake trout 2', 'lakewood ranch baptist church', 'legends burgers', 'legendz', "lilly's restaurant", "lin's garden", "lion's choice", "little caesar's pizza", 'little caesars', 'little caesars pizza', 'little italy', 'little q hot pot', 'lobster hut', 'local burger', "long john silver's", "long john silver's / aw", 'long john silvers', 'long john silvers / a&w', 'los cotijas taco shop', 'loving hut', 'low chinese american restaurant', "luby's", "lupo's char-pit", "ly's cafe", "mah's garden restaurant", 'maid-rite', 'maki fresh', "mama's fried chicken", 'mandarin garden', 'mangia pizza', 'marathon', "mason's famous lobster rolls", 'mc donalds', "mcalister's deli", "mcdonald's", "mcdonald's of rolesville", 'mcdonalds', 'mcdonalds whitehouse', "mcdonalds's", 'megs drive in', "mickey's gyros & ribs", 'mignano bros', "miguel's jr", 'milk street cafe', "miss katie's diner", "moe's burger joint", "moe's cafe", "moe's southwest grill", "mooney's ice cream store", 'mr hero', 'mr taco', 'mr. chicken', 'mr. gyros greek food & pastry', 'mr. hero', 'mr. hoagie', 'mrs. fields', 'mustard seed', "my daddy's pizza & grille", "nathan's famous", "natraj's tandoori", 'new york pizza department', "nick's gyros", "nino's pizzarama", 'ocean empire restaurant', 'old carolina barbecue company', 'old country buffet', 'old mill crab house', 'orange julius', "original tommy's hamburgers", "oscar's restaurant", "pal's sudden service", "palio's pizza cafe", 'panda express', 'panda express innovation kitchen', 'panera bread', "papa gino's", 'papa gyros', "papa j's", "papa joe's pizza", "papa john's pizza", 'parkside gyros', "patrick's on third", 'pdq', 'peach garden', 'pei wei', 'penguin point', 'penn station east coast subs', "penn's thai cafe", 'pepperjax grill', "petro's chili & chips", "photo's hot dogs", 'pick up stix', 'picnic basket', 'pilot travel center', "pita's republic", 'pizza barn', 'pizza guys', 'pizza hut', 'pizza inn', 'pizza pipeline', 'pizza pro', 'pizza pub', "plato's closet", 'players grill', 'poki roll', 'pollo campero', 'pollo tropical', 'pony express to go', "popeye's louisiana kitchen", 'popeyes', 'popeyes chicken & biscuits', 'popeyes chicken biscuits', 'popeyes louisiana kitchen', 'port of subs', "portillo's", 'pretzel maker', 'pretzel time', "price's chicken coop", 'primo hoagies', "primo's pizza", 'qdoba mexican eats', 'qdoba mexican grill', "quizno's", 'quiznos', 'quiznos sub', "raising cane's", "raising cane's chicken fingers", 'raising canes', "rally's", "rally's hamburgers", 'rallys', "rascal's teriyaki grill", "ray j's american grill", 'red baron drive-in', 'regions bank', "richard's pizza", "rick's drive in out", "rico's pizza & subs", "riviera d'italia", 'roche bros.', 'roma pizza', 'romas pizza', 'round table pizza', "rubio's", 'runza', "ryan's", 'sakana', 'sakura japanese restaurant', 'salad creations', 'saladworks', "sam's gyros", "sam's pizza restaurant", 'sarku japan', 'sbarro', "schlotzsky's", 'sesame burgers & beer', 'shake shack', "shamus's sandwich shoppe", 'shangri-la chinese restaurant', 'shawarma kebab', 'sheetz', 'shell', 'shophouse southeast asian kitchen', 'siam fusion', "simple simon's pizza", 'skyline chili', 'smashburger', "smithfield's chicken 'n bar-b-q", 'smoothie king', 'sonic', "sonic america's drive-in", 'sonic drive in', 'sonic drive-in', 'spangles', 'st. clair broiler', 'starbucks coffee', "steak 'n shake", 'steak escape', 'steak n shake', 'steele pier hotdogs', "stoko's", 'sub conscious', 'subway', 'subway¬æ', 'sumo steaks', 'sunrise gyros', 'super wings', 'surfside burger shack', "sweet magnolia's cafe bakery", 't-mobile', "tacconelli's pizza", 'taco bell', 'taco bell / kfc', 'taco bell/kfc', 'taco bell/pizza hut', "taco bob's", 'taco bueno', 'taco cabana', 'taco casa', 'taco del mar', "taco john's", 'taco mama', 'taco mayo', 'taco time', "tam's burgers", 'tanuki sushi bar and garden', 'taqueria', 'tastee freez', 'thai delight', "the 50's cafe", "the arch at mcdonald's campus office building", 'the corner cafe', 'the dog pit', 'the extreme pita', 'the flame broiler', 'the grille', 'the hat', 'the hotdog shoppe', 'the new chalet', 'the pizza company', 'the sandwich place', 'the swinging door', 'themint gastropub', 'tiffin', "togi's sub station", "togo's", "tom's drive in", "tony wang's chinese restaurant", 'tonys pizza', "topper's pizza", 'toppers pizza', 'tropical smoothie cafe', 'tropicana pizza', "tumby's pizza", 'umami burger', 'veganburg', 'villa italian kitchen', 'vista drive in', 'w.g. grinders', 'waffle house', 'walmart supercenter', 'wawa', "wendy's", "wendy's valenti management", 'west point pizza', 'westchester burger company', "wetzel's pretzels", 'whataburger', 'which wich', "whipper's pizza", 'white castle', 'wienerschitzel', 'wienerschnitzel', "wild willy's", 'wingstop', 'wingstop restaurant', 'wise guys a chicago eatery', 'wolf river diner', "wolf's dairy queen", 'yoshinoya', 'zankou chicken', "zaxby's", "zaxby's chicken fingers & buffalo wings", "zio's italian kitchen"]

In [10]:
mcd_df = df[df['name'].str.lower().str.contains("mc")]
print(sorted(mcd_df['name'].unique()))

['Mc Donalds', "McAlister's Deli", "McDonald's", "McDonald's of Rolesville", 'McDonalds', "McDonalds's", "Mcdonald's", 'Mcdonalds', 'Mcdonalds Whitehouse', "The Arch at McDonald's Campus Office Building"]

In [11]:
popeye_df = df[df['name'].str.lower().str.contains("popeye")]
print(sorted(popeye_df['name'].unique()))

['Burger King/Popeyes', "Popeye's Louisiana Kitchen", 'Popeyes', 'Popeyes Chicken & Biscuits', 'Popeyes Chicken Biscuits', 'Popeyes Louisiana Kitchen']

In [12]:
subway_df = df[df['name'].str.lower().str.contains("subway")]
print(sorted(subway_df['name'].unique()))

['SUBWAY', 'SUBWAY¬Æ', 'Subway']

In [13]:
king_df = df[df['name'].str.lower().str.contains("king")]
print(sorted(king_df['name'].unique()))

['Burger King', 'Burger King/Popeyes', 'Burger King¬Æ', 'King Gyros', 'King Wah', 'King of Wings', 'Smoothie King']

In [14]:
weiner_df = df[df['name'].str.lower().str.contains("wiener")]
print(sorted(weiner_df['name'].unique()))

['Wienerschitzel', 'Wienerschnitzel']

In [15]:
sonic_df = df[df['name'].str.lower().str.contains("sonic")]
print(sorted(sonic_df['name'].unique()))

['SONIC Drive In', 'SONIC Drive-In', 'Sonic', "Sonic America's Drive-In", 'Sonic Drive In', 'Sonic Drive in', 'Sonic Drive-In']

In [16]:
kfc_df = df[df['name'].str.lower().str.contains("kfc")]
print(sorted(kfc_df['name'].unique()))

['KFC', 'KFC - Kentucky Fried Chicken', 'KFC/AW', 'KFC/Long John Silvers', 'KFC/Taco Bell', 'Taco Bell / KFC', 'Taco Bell/KFC']

In [17]:
chipotle_df = df[df['name'].str.lower().str.contains("chipotle")]
print(sorted(chipotle_df['name'].unique()))

['Chipotle', 'Chipotle Mexican Grill']

In [18]:
arby_df = df[df['name'].str.lower().str.contains("arby")]
print(sorted(arby_df['name'].unique()))

["Arby's", "Arby's - Closed", 'Arbys']

In [19]:
jerry_df = df[df['name'].str.lower().str.contains("jerry")]
print(sorted(jerry_df['name'].unique()))

["Ben & Jerry's", "Ben and Jerry's", "Jerry's Subs & Pizza"]

In [20]:
long_df = df[df['name'].str.lower().str.contains("long")]
print(sorted(long_df['name'].unique()))

['A&W/Long John Silvers', 'KFC/Long John Silvers', "Long John Silver's", "Long John Silver's / AW", 'Long John Silvers', 'Long John Silvers / A&W']

In [21]:
auntie_df = df[df['name'].str.lower().str.contains("auntie")]
print(sorted(auntie_df['name'].unique()))

["Auntie Anne's", "Auntie Anne's Pretzels"]

In [22]:
jack_df = df[df['name'].str.lower().str.contains("jack")]
print(sorted(jack_df['name'].unique()))

['Blackjack Pizza', 'Jack In The Box', 'Jack in the Box', 'Jack in the Box -', "Jack's Goal Line Stand", 'Jacks N Joe']

In [23]:
queen_df = df[df['name'].str.lower().str.contains("queen")]
print(sorted(queen_df['name'].unique()))

['Dairy Queen', 'Dairy Queen (Treat Only)', "Wolf's Dairy Queen"]

In [24]:
fil_df = df[df['name'].str.lower().str.contains("fil")]
print(sorted(fil_df['name'].unique()))

['Chick-Fil-A', 'Chick-fil-A', "Filippi's Pizza Grotto"]

In [25]:
jimmy_df = df[df['name'].str.lower().str.contains("jimmy")]
print(sorted(jimmy_df['name'].unique()))

["Jimmy John's", 'Jimmy Johns', "Jimmy's Grotto"]

In [26]:
carl_df = df[df['name'].str.lower().str.contains("carl")]
print(sorted(carl_df['name'].unique()))

["Carl's Jr", "Carl's Jr / Green Burrito", "Carl's Jr.", "Carl's Jr. / Green Burrito", "Carl's Jr. / The Green Burrito"]

In [27]:
dunkin_df = df[df['name'].str.lower().str.contains("dunk")]
print(sorted(dunkin_df['name'].unique()))

['Dunkin Donuts', "Dunkin' Donuts"]

In [28]:
df = df.replace(
    {'name':{
        "Mc Donalds":"McDonald's", "McDonald's of Rolesville":"McDonald's", 'McDonalds':"McDonald's", 
        "McDonalds's":"McDonald's", "Mcdonald's":"McDonald's", 'Mcdonalds':"McDonald's", 'Mcdonalds Whitehouse':"McDonald's", 
        "The Arch at McDonald's Campus Office Building":"McDonald's", "Popeye's Louisiana Kitchen":'Popeyes', 
        'Popeyes Chicken & Biscuits':'Popeyes', 'Popeyes Chicken Biscuits':'Popeyes', 'Popeyes Louisiana Kitchen':'Popeyes',
        'Wienerschitzel':'Wienerschnitzel', 'SUBWAY':'Subway', 'SUBWAY¬Æ':'Subway', 'Burger King¬Æ':'Burger King', 
        'SONIC Drive In': 'Sonic Drive-In', 'SONIC Drive-In': 'Sonic Drive-In', 'Sonic': 'Sonic Drive-In', 
        "Sonic America's Drive-In": 'Sonic Drive-In', 'Sonic Drive In': 'Sonic Drive-In', 'Sonic Drive in': 'Sonic Drive-In',
        'KFC - Kentucky Fried Chicken':'KFC', 'Taco Bell / KFC':'KFC/Taco Bell', 'Taco Bell/KFC':'KFC/Taco Bell',
        'Chipotle Mexican Grill':'Chipotle', "Arby's - Closed":"Arby's", 'Arbys':"Arby's", "Ben and Jerry's": "Ben & Jerry's",
        "Long John Silver's / AW": "A&W/Long John Silver's",'A&W/Long John Silvers':"A&W/Long John Silver's", 
        'KFC/Long John Silvers':"KFC/Long John Silver's", 'Long John Silvers':"Long John Silver's", 
        'Long John Silvers / A&W': "A&W/Long John Silver's", "Auntie Anne's":"Auntie Anne's Pretzels",
        'Jack In The Box': 'Jack in the Box', 'Jack in the Box -':'Jack in the Box',
        'Dairy Queen (Treat Only)':'Dairy Queen', "Wolf's Dairy Queen":'Dairy Queen','Chick-Fil-A': 'Chick-fil-A',
        'Jimmy Johns':"Jimmy John's", "Carl's Jr":"Carl's Jr.", "Carl's Jr / Green Burrito":"Carl's Jr./Green Burrito",
        "Carl's Jr. / Green Burrito":"Carl's Jr./Green Burrito", "Carl's Jr. / The Green Burrito":"Carl's Jr./Green Burrito",
        'Dunkin Donuts': "Dunkin' Donuts"       
        
    }})

In [29]:
df["name"].value_counts().head(15)

McDonald's         1954
Taco Bell          1032
Subway              849
Burger King         834
Arby's              669
Wendy's             628
Jack in the Box     332
Pizza Hut           230
Chick-fil-A         228
Dairy Queen         220
Domino's Pizza      215
Sonic Drive-In      205
KFC                 173
Carl's Jr.          127
Jimmy John's        121
Name: name, dtype: int64

In [30]:
df.head()

,city,country,name,province,websites
0,Thibodaux,US,Sonic Drive-In,LA,https://locations.sonicdrivein.com/la/thibodau...
1,Thibodaux,US,Sonic Drive-In,LA,https://locations.sonicdrivein.com/la/thibodau...
2,Pigeon Forge,US,Taco Bell,TN,"http://www.tacobell.com,https://locations.taco..."
3,Pigeon Forge,US,Arby's,TN,"http://www.arbys.com,https://locations.arbys.c..."
4,Morrow,US,Steak 'n Shake,GA,http://www.steaknshake.com/locations/23851-ste...

## RestraurantBrand Table

In [31]:
RestraurantBrand_df = pd.DataFrame(sorted(df['name'].unique()))
RestraurantBrand_df.columns = ['Restraurant Brand']
RestraurantBrand_df.head(25)

                 Restraurant Brand
0                         7-Eleven
1              90 Miles Cuban Cafe
2           A&W/Long John Silver's
3                  A's Ace Burgers
4                    Abruzzi Pizza
5            Acropolis Gyro Palace
6              Adobe Cantina Salsa
7                        Ak Buffet
8                 All About Burger
9              Ameci Pizza & Pasta
10           Andy's Frozen Custard
11                Angelina's Pizza
12                   Ani's Chicken
13                          Arby's
14                   Arctic Circle
15           Arni's Crawfordsville
16  Arthur Treacher's Fish & Chips
17                     Au Bon Pain
18          Auntie Anne's Pretzels
19                      Ay Jalisco
20                          B Good
21                     B&D Burgers
22                       B's Pizza
23                          B.GOOD
24                        BURGERFI

# Census Extract and Transform
* https://www.kaggle.com/muonneutrino/us-census-demographic-data

In [33]:
#save acs2017_census_tract_data to dataframe

ctdata = "acs2017_census_tract_data.csv"

ctdata_df = pd.read_csv("Data/acs2017_census_tract_data.csv")
ctdata_df.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [45]:
ctdata_df.count()

TractId             74001
State               74001
County              74001
TotalPop            74001
Men                 74001
Women               74001
Hispanic            73305
White               73305
Black               73305
Native              73305
Asian               73305
Pacific             73305
VotingAgeCitizen    74001
Income              72885
IncomeErr           72885
IncomePerCap        73256
IncomePerCapErr     73256
Poverty             73159
ChildPoverty        72891
Professional        73190
Service             73190
Office              73190
Construction        73190
Production          73190
Drive               73200
Carpool             73200
Transit             73200
Walk                73200
OtherTransp         73200
WorkAtHome          73200
MeanCommute         73055
Employed            74001
PrivateWork         73190
PublicWork          73190
SelfEmployed        73190
FamilyWork          73190
Unemployment        73191
dtype: int64

In [50]:
clean_census_df = ctdata_df.dropna()

In [51]:
clean_census_df.count()

TractId             72718
State               72718
County              72718
TotalPop            72718
Men                 72718
Women               72718
Hispanic            72718
White               72718
Black               72718
Native              72718
Asian               72718
Pacific             72718
VotingAgeCitizen    72718
Income              72718
IncomeErr           72718
IncomePerCap        72718
IncomePerCapErr     72718
Poverty             72718
ChildPoverty        72718
Professional        72718
Service             72718
Office              72718
Construction        72718
Production          72718
Drive               72718
Carpool             72718
Transit             72718
Walk                72718
OtherTransp         72718
WorkAtHome          72718
MeanCommute         72718
Employed            72718
PrivateWork         72718
PublicWork          72718
SelfEmployed        72718
FamilyWork          72718
Unemployment        72718
dtype: int64

In [53]:
# get column names
    
list(clean_census_df.columns.values.tolist())

['TractId',
 'State',
 'County',
 'TotalPop',
 'Men',
 'Women',
 'Hispanic',
 'White',
 'Black',
 'Native',
 'Asian',
 'Pacific',
 'VotingAgeCitizen',
 'Income',
 'IncomeErr',
 'IncomePerCap',
 'IncomePerCapErr',
 'Poverty',
 'ChildPoverty',
 'Professional',
 'Service',
 'Office',
 'Construction',
 'Production',
 'Drive',
 'Carpool',
 'Transit',
 'Walk',
 'OtherTransp',
 'WorkAtHome',
 'MeanCommute',
 'Employed',
 'PrivateWork',
 'PublicWork',
 'SelfEmployed',
 'FamilyWork',
 'Unemployment']

In [54]:
clean_census_df.describe()

,TractId,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,7.271800e+04,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,...,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000
mean,2.837292e+10,4443.485121,2184.362647,2259.122473,17.282951,61.337143,13.254417,0.727776,4.752459,0.146082,...,2.925778,1.886076,4.612646,26.080334,2081.309139,79.511827,14.149495,6.167661,0.171231,7.224917
std,1.644198e+10,2190.183318,1099.954423,1124.604806,23.084428,30.628031,21.581269,4.505791,8.995573,1.015198,...,5.260623,2.485812,3.770733,7.095680,1120.109805,7.957350,7.164790,3.798703,0.451630,5.099419
min,1.001020e+09,58.000000,26.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.200000,20.000000,17.500000,0.000000,0.000000,0.000000,0.000000
25%,1.304703e+10,2958.000000,1440.000000,1494.000000,2.600000,38.100000,0.800000,0.000000,0.200000,0.000000,...,0.400000,0.400000,2.000000,21.100000,1306.000000,75.300000,9.300000,3.500000,0.000000,3.900000
50%,2.804700e+10,4137.000000,2024.000000,2102.000000,7.400000,70.500000,3.800000,0.000000,1.500000,0.000000,...,1.400000,1.200000,3.800000,25.400000,1915.000000,80.600000,13.000000,5.500000,0.000000,6.000000
75%,4.200341e+10,5532.750000,2719.000000,2817.000000,21.100000,87.700000,14.500000,0.400000,5.000000,0.000000,...,3.300000,2.500000,6.300000,30.300000,2651.000000,85.000000,17.600000,8.000000,0.000000,9.000000
max,7.215375e+10,65528.000000,32266.000000,33262.000000,100.000000,100.000000,100.000000,99.400000,91.400000,71.900000,...,77.700000,53.400000,82.800000,73.900000,28945.000000,100.000000,80.700000,47.400000,22.300000,62.800000

In [55]:
# create new dataframe with selected columns from ERD
small_census_df = clean_census_df[['State', 'County','TotalPop','Men','Women','Hispanic','White', 'Black','Native','Asian','Pacific','Income','IncomePerCap','Poverty','ChildPoverty','PrivateWork','PublicWork','SelfEmployed','FamilyWork','Unemployment']].copy()
small_census_df.head()

,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,ChildPoverty,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,1.2,0.0,67826.0,33018.0,10.7,20.8,74.2,21.2,4.5,0.0,4.6
1,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,1.0,0.0,41287.0,18996.0,22.4,35.8,75.9,15.0,9.0,0.0,3.4
2,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,0.7,0.4,46806.0,21236.0,14.7,21.1,73.3,21.1,4.8,0.7,4.7
3,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,0.2,0.0,55895.0,28068.0,2.3,1.7,75.8,19.7,4.5,0.0,6.1
4,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,3.1,0.0,68143.0,36905.0,12.2,17.9,71.4,24.1,4.5,0.0,2.3

In [57]:
small_census_df.describe()

,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,ChildPoverty,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000
mean,4443.485121,2184.362647,2259.122473,17.282951,61.337143,13.254417,0.727776,4.752459,0.146082,61119.999326,30666.653222,16.046724,21.148476,79.511827,14.149495,6.167661,0.171231,7.224917
std,2190.183318,1099.954423,1124.604806,23.084428,30.628031,21.581269,4.505791,8.995573,1.015198,30511.062580,15844.127467,12.428643,18.572714,7.957350,7.164790,3.798703,0.451630,5.099419
min,58.000000,26.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2692.000000,1631.000000,0.000000,0.000000,17.500000,0.000000,0.000000,0.000000,0.000000
25%,2958.000000,1440.000000,1494.000000,2.600000,38.100000,0.800000,0.000000,0.200000,0.000000,40380.000000,20624.000000,6.900000,6.200000,75.300000,9.300000,3.500000,0.000000,3.900000
50%,4137.000000,2024.000000,2102.000000,7.400000,70.500000,3.800000,0.000000,1.500000,0.000000,54413.000000,27249.000000,12.600000,16.300000,80.600000,13.000000,5.500000,0.000000,6.000000
75%,5532.750000,2719.000000,2817.000000,21.100000,87.700000,14.500000,0.400000,5.000000,0.000000,74688.000000,36413.000000,21.800000,31.600000,85.000000,17.600000,8.000000,0.000000,9.000000
max,65528.000000,32266.000000,33262.000000,100.000000,100.000000,100.000000,99.400000,91.400000,71.900000,249750.000000,220253.000000,100.000000,100.000000,100.000000,80.700000,47.400000,22.300000,62.800000

## CensusData Table

In [100]:
state_df = small_census_df.groupby('State', as_index=False).agg({'TotalPop':'sum','Men':'sum','Women':'sum','Hispanic':'mean',
                                                    'White':'mean','Black':'mean','Native':'mean','Asian':'mean',
                                                    'Pacific':'mean','Income':'mean','IncomePerCap':'mean',
                                                    'Poverty':'mean','ChildPoverty':'mean','PrivateWork':'mean',
                                                    'PublicWork':'mean','SelfEmployed':'mean','FamilyWork':'mean',
                                                    'Unemployment':'mean'}).rename(columns={'Income':'IncomeAvg'}).round(2)


state_df.head()

,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,IncomeAvg,IncomePerCap,Poverty,ChildPoverty,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,Alabama,4842699,2347140,2495559,3.85,61.25,31.66,0.45,1.07,0.03,45955.35,24438.62,20.43,28.92,79.19,15.43,5.18,0.20,8.63
1,Alaska,735782,384052,351730,6.26,59.49,2.70,17.14,5.67,1.10,73796.76,33968.88,11.17,14.85,65.02,27.63,7.13,0.22,8.70
2,Arizona,6707875,3333786,3374089,30.45,55.79,3.89,4.37,3.02,0.17,57943.06,28416.22,17.67,23.46,78.74,14.77,6.32,0.17,7.61
3,Arkansas,2976037,1459795,1516242,6.46,70.41,19.06,0.54,1.20,0.15,44245.27,23675.90,19.60,27.54,77.31,16.21,6.29,0.20,7.06
4,California,38773436,19221596,19551840,37.85,39.31,5.55,0.39,13.42,0.34,73126.60,34003.01,15.37,19.24,77.68,13.68,8.46,0.18,7.86

In [101]:
clean_state_df = state_df.replace(
    {'State':{
      'Alabama': 'AL', 'Alaska': 'AK', 'American Samoa': 'AS', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia':'DC','Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME',
    'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT',
    'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'Puerto Rico':'PR', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA',
    'Rhode Island': 'RI', 'South Carolina': 'SC',  'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',  'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'  
    }})

In [102]:
clean_state_df.head()

,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,IncomeAvg,IncomePerCap,Poverty,ChildPoverty,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,AL,4842699,2347140,2495559,3.85,61.25,31.66,0.45,1.07,0.03,45955.35,24438.62,20.43,28.92,79.19,15.43,5.18,0.20,8.63
1,AK,735782,384052,351730,6.26,59.49,2.70,17.14,5.67,1.10,73796.76,33968.88,11.17,14.85,65.02,27.63,7.13,0.22,8.70
2,AZ,6707875,3333786,3374089,30.45,55.79,3.89,4.37,3.02,0.17,57943.06,28416.22,17.67,23.46,78.74,14.77,6.32,0.17,7.61
3,AR,2976037,1459795,1516242,6.46,70.41,19.06,0.54,1.20,0.15,44245.27,23675.90,19.60,27.54,77.31,16.21,6.29,0.20,7.06
4,CA,38773436,19221596,19551840,37.85,39.31,5.55,0.39,13.42,0.34,73126.60,34003.01,15.37,19.24,77.68,13.68,8.46,0.18,7.86

## StateList Table

In [103]:
# small_census_df.groupby(['State'])

In [107]:
states_df = pd.DataFrame(clean_state_df.State)
states_df.head()

  State
0    AL
1    AK
2    AZ
3    AR
4    CA

In [108]:
removePR_df = states_df.drop(states_df[states_df.State == 'PR'].index)
fifty_states_df = removePR_df.drop(states_df[states_df.State == 'DC'].index)

In [109]:
fifty_states_df.State.nunique()

50

In [110]:
state_name_df = pd.DataFrame(sorted(fifty_states_df.State.unique()))
state_name_df.columns = ['StateAbbrv']
state_name_df

   StateAbbrv
0          AK
1          AL
2          AR
3          AZ
4          CA
5          CO
6          CT
7          DE
8          FL
9          GA
10         HI
11         IA
12         ID
13         IL
14         IN
15         KS
16         KY
17         LA
18         MA
19         MD
20         ME
21         MI
22         MN
23         MO
24         MS
25         MT
26         NC
27         ND
28         NE
29         NH
30         NJ
31         NM
32         NV
33         NY
34         OH
35         OK
36         OR
37         PA
38         RI
39         SC
40         SD
41         TN
42         TX
43         UT
44         VA
45         VT
46         WA
47         WI
48         WV
49         WY

## Load

In [2]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgres://postgres:PASSWORD@localhost:5432/Fast_Food_Restaurants')

In [4]:
# Create Engine for census data
#census_database_path = "../Resources/acs2017_census_tract_data.sqlite"
#engine = create_engine(f"sqlite:///{census_database_path}")
#conn = engine.connect()

In [ ]:
# Query All Records in the the Census Table
#census_data = pd.read_sql("SELECT * FROM Census_Data", conn)

In [ ]:
# Create Engine for Fast_Food_Restaurants data
#Fast_Food_Restaurants_database_path = "../Resources/Data/Datafiniti_Fast_Food_Restaurants.sqlite"
#engine = create_engine(f"sqlite:///{Fast_Food_Restaurants_database_path}")
#conn = engine.connect()

In [ ]:
# Query All Records in the Fast_Food_Restaurants Table
#Fast_Food_Restaurants_data = pd.read_sql("SELECT * FROM Fast_Food_Restaurants", conn)